// override colors to customize
// basic color options: use only color names as shown in the
// "Color Palette" section of http://tachyons.io/docs/themes/skins/

// Full navy background, white text

$siteBgColor: "navy" ;
$sidebarBgColor: "navy" ;

$textColor: "near-white" ;
$sidebarTextColor: "near-white" ;

$headlineColor: "white" ;
$headingColor: "near-white" ;

$bodyLinkColor: "light-blue" ;
$navLinkColor: "near-white" ;

// Hover / active states
$navBgColor: "dark-blue" ;

$sidebarLinkColor: "light-blue" ;

$footerTextColor: "silver" ;

$buttonTextColor: "navy" ;
$buttonBgColor: "white" ;
$buttonHoverTextColor: "navy" ;
$buttonHoverBgColor: "washed-blue" ;

$borderColor: "dark-blue" ;